@(message: String)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>OOPS!</title>
    <link rel="stylesheet" media="screen" href='http://162.105.146.180:8122/css/default.css'>
    <link rel="stylesheet" href='http://162.105.146.180:8122/css/form.css'>
</head>
<body>

<div class="panel">
    <h1>Oops, we have encountered an error...</h1>
    <img src='http://162.105.146.180:8122/resources/img/fail.jpg' alt="fail" class="snakepic"/>
    <p style="text-align:center">@message</p>
    <p style="text-align:center" class="final">Click <a href="/">here</a> to go back.</p>
</div>

<footer>
    <a href="#">top</a>
    <hr>
    <p>
        For Web Software Technology class, Fall Semester 2015-16.
        <br /> Jasmine Xie, Peking University.
    </p>
</footer>


</body>
</html>
